.excel__table
    .row
        .row-info
        .row-data
            .column A
            .column B
            .column C
    .row
        .row-info 1
        .row-data
            .cell.selected(contenteditable="true") 1
            .cell(contenteditable="true") 2
            .cell(contenteditable="true") 3
    .row
        .row-info 2
        .row-data
            .cell(contenteditable="true") 1
            .cell(contenteditable="true") 2
            .cell(contenteditable="true") 3
